[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "~=3.4.2"
np = "==1.0.2"
pandas = "~=1.2.4"
numpy = "~=1.19.5"
pyscreenshot = "~=3.0"

[dev-packages]
pyinstaller = "~=4.7"

[requires]
python_version = "3.7"

[scripts]
sim = "python main.py"
